$notebookBackgroundColor:#f5f5f5;
$cardBackgroundColor:#ffe275;

$colorBorderBottun : #4e45e5;
$colorBottun: #f07c7f;
$dateColor: #d9d9d9;
$whiteColor: #ffffff;
$cardBackgroundColor: #e6e6e6;
// $cardTextColor : #4d4d4d;
// $cardTextBackgroundColor: #d9d9d9;
// $cardDatetColor : #4c77c3;
// $cardDateBackgroundColor: #aac6f5;
// $cardTimetColor : #77bc8b;
// $cardTimeBackgroundColor: #e0f1e7;

$borderRadius: 5px;
$newTaskHeight: 160px;
$newTaskWidth: 650px;
$newTaskMargintop: 15px;
$newTaskMarginleft: 80px;
$inputBorder: 1px solid #ffffff;
// $titleHeight: 50px;
// $titleWidth: 300px;