.imgAddDelteFlag, body .container .row .col .addTask form[name="addTaskNew"] #imgAdd, body .container .row .col .addTask form[name="addTaskNew"] #imgDelete {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.cardDateTimeFlag, body .container .row .col #cardContainer .cardItem .cardDate, body .container .row .col #cardContainer .cardItem .cardTime {
  position: absolute;
  left: 40px;
  margin: 0;
  border-radius: 5px;
  font-size: 10px;
  height: 19px;
}

body {
  background-image: url("./img/cover2.png");
}

body .container .row {
  margin-top: 20px;
}

body .container .row .col-12 #title {
  margin-top: 10px;
  text-align: center;
}

body .container .row .col-12 #title label[name="title"] {
  font-family: cursive, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
}

@media only screen and (max-width: 479px) {
  body .container .row .col-12 #title label[name="title"] {
    font-size: 40px;
  }
}

body .container .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .row .col #imgPines {
  width: 125px;
  height: 40px;
}

body .container .row .col .addTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .row .col .addTask form[name="addTaskNew"] {
  background-image: url("./img/notebook1.png");
  position: relative;
  border-radius: 5px;
  height: 180px;
}

body .container .row .col .addTask form[name="addTaskNew"] input {
  background-color: transparent;
  height: 20px;
  border: 1px solid #ffffff;
}

body .container .row .col .addTask form[name="addTaskNew"] input:focus {
  outline: none;
}

body .container .row .col .addTask form[name="addTaskNew"] textarea[name="taskData"] {
  background-color: transparent;
  margin-left: 45px;
  line-height: 2;
  border: none;
  height: 90px;
  width: 450px;
  word-break: break-word;
  overflow: auto;
}

body .container .row .col .addTask form[name="addTaskNew"] textarea[name="taskData"]:focus {
  outline: none;
}

@media only screen and (max-width: 767px) {
  body .container .row .col .addTask form[name="addTaskNew"] textarea[name="taskData"] {
    width: 275px;
  }
}

body .container .row .col .addTask form[name="addTaskNew"] .date {
  margin-top: 27px;
}

body .container .row .col .addTask form[name="addTaskNew"] .date input[name="taskDate"] {
  margin-left: 45px;
  color: #d9d9d9;
}

body .container .row .col .addTask form[name="addTaskNew"] .date input[name="taskHour"] {
  color: #d9d9d9;
}

body .container .row .col .addTask form[name="addTaskNew"] #imgAdd {
  right: 45px;
}

body .container .row .col .addTask form[name="addTaskNew"] #imgDelete {
  right: 8px;
}

@media only screen and (max-width: 767px) {
  body .container .row .col .addTask form[name="addTaskNew"] {
    width: 320px;
  }
}

body .container .row .col #cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

body .container .row .col #cardContainer .cardItem {
  position: relative;
  background-image: url("./img/note1.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 275px;
  height: 200px;
  -webkit-animation: fadein 1s;
  opacity: 1;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body .container .row .col #cardContainer .cardItem:hover .fas {
  opacity: 1;
}

body .container .row .col #cardContainer .cardItem .fas {
  position: absolute;
  top: 30px;
  left: 255px;
  opacity: 0;
  cursor: pointer;
}

body .container .row .col #cardContainer .cardItem .cardText {
  position: absolute;
  top: 25px;
  left: 40px;
  width: 210px;
  height: 90px;
  font-size: 15px;
  word-break: break-word;
  overflow: auto;
}

body .container .row .col #cardContainer .cardItem .cardText::-webkit-scrollbar {
  width: 10px;
}

body .container .row .col #cardContainer .cardItem .cardText::-webkit-scrollbar-thumb {
  background: #ffd84d;
  border-radius: 10px;
}

body .container .row .col #cardContainer .cardItem .cardDate {
  top: 115px;
}

body .container .row .col #cardContainer .cardItem .cardTime {
  top: 130px;
}

@media only screen and (max-width: 991px) {
  body .container .row .col #cardContainer {
    max-width: 585px;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  body .container .row .col #cardContainer {
    max-width: 340px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */