.imgAddDelteFlag, body .container .row .col .addTask form[name="addTaskNew"] #imgAdd, body .container .row .col .addTask form[name="addTaskNew"] #imgDelet {
  margin-top: 3px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

body {
  background-image: url("./img/cover2.png");
}

body .container .row {
  margin-top: 20px;
}

body .container .row .col-8 #title {
  margin-top: 10px;
}

body .container .row .col-8 #title label[name="title"] {
  font-family: cursive, Assistant, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
}

body .container .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .row .col #imgPines {
  width: 125px;
  height: 40px;
}

body .container .row .col .addTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .row .col .addTask form[name="addTaskNew"] {
  background-image: url("./img/notebook1.png");
  border-radius: 5px;
  height: 180px;
}

body .container .row .col .addTask form[name="addTaskNew"] input {
  background-color: transparent;
  height: 20px;
  border: 1px solid #ffffff;
}

body .container .row .col .addTask form[name="addTaskNew"] textarea[name="taskData"] {
  background-color: transparent;
  margin-left: 45px;
  line-height: 2;
  border: none;
  height: 90px;
  word-break: break-word;
  overflow: auto;
}

body .container .row .col .addTask form[name="addTaskNew"] .date {
  margin-top: 27px;
}

body .container .row .col .addTask form[name="addTaskNew"] .date input[name="taskDate"] {
  margin-left: 45px;
  color: #d9d9d9;
}

body .container .row .col .addTask form[name="addTaskNew"] .date input[name="taskHour"] {
  color: #d9d9d9;
}

body .container .row .col .addTask form[name="addTaskNew"] #imgAdd {
  margin-left: 420px;
}

body .container .row .col .addTask form[name="addTaskNew"] #imgDelet {
  margin-right: 10px;
}

body .container .row .col #cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

body .container .row .col #cardContainer .cardItem {
  position: relative;
  background-image: url("./img/note1.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 275px;
  height: 200px;
}

body .container .row .col #cardContainer .cardItem:hover .fas {
  opacity: 1;
}

body .container .row .col #cardContainer .cardItem .fas {
  position: absolute;
  top: 30px;
  left: 255px;
  opacity: 0;
  cursor: pointer;
}

body .container .row .col #cardContainer .cardItem .cardText {
  position: absolute;
  top: 25px;
  left: 40px;
  width: 210px;
  height: 90px;
  font-size: 15px;
  word-break: break-word;
  overflow: auto;
}

body .container .row .col #cardContainer .cardItem .cardDate {
  position: absolute;
  top: 115px;
  left: 40px;
  margin: 0;
  border-radius: 5px;
  font-size: 10px;
  height: 19px;
}

body .container .row .col #cardContainer .cardItem .cardTime {
  position: absolute;
  top: 130px;
  left: 40px;
  margin: 0;
  border-radius: 5px;
  font-size: 10px;
  height: 19px;
}
/*# sourceMappingURL=style.css.map */