@import "const.scss";
body {
    background-image: url("./img/cover2.png");
    .container {
        .row {
            margin-top: 20px;
            .col-8{
                #title {
                    margin-top: 10px;
                    label[name="title"] {
                        font-family: cursive, Assistant, Arial, sans-serif;
                        font-size: 50px;
                        font-weight: 700;
                    }
                }
            }
            .col {
                display: flex;
                justify-content: center;
                #imgPines {
                    width: 125px;
                    height: 40px;
                }
             
                .addTask {
                    display: flex;
                    justify-content: center; //background-color: $notebookBackgroundColor;
                    background-image: url("./img/formbg.png");
                    border: 1px solid $cardBackgroundColor;
                    border-radius: $borderRadius;
                    form[name="addTaskNew"] {
                        // width: $newTaskWidth;
                        input {
                            background-color: transparent;
                            height: 20px;
                            border: $inputBorder;
                        }
                        textarea[name="taskData"] {
                            background-color: transparent;
                            margin-top: $newTaskMargintop;
                            margin-left: $newTaskMarginleft;
                            line-height: 2.3;
                            border: none;
                            height: 95px; // width: 550px;
                            word-break: break-word;
                            overflow: auto;
                        }
                        .date {
                            margin-top: $newTaskMargintop +-10px;
                            input[name="taskDate"] {
                                margin-left: $newTaskMarginleft;
                                color: $dateColor;
                            }
                            input[name="taskHour"] {
                                // width: 80px;
                                color: $dateColor;
                            }
                        }
                        button {
                            background-image: url("./img/buttonNote.png");
                            margin-top: $newTaskMargintop+10px;
                            font-family: cursive, Assistant, Arial, sans-serif;
                            border: 2px solid $colorBorderBottun;
                            color: $colorBottun;
                            width: 70px;
                        }
                    } //end form[name="addTaskNew"]
                }
                #cardContainer {
                    display: flex;
                    flex-flow: wrap;
                    .cardItem {
                        position: relative;
                        background-image: url("./img/note1.png");
                        background-repeat: no-repeat;
                        display: inline-block;
                        width: 275px;
                        height: 200px; // -webkit-transition: opacity 5s;
                        // /* Safari */
                        // transition: opacity 5s;
                        &:hover .fas {
                            opacity: 1;
                        }
                        .fas {
                            position: absolute;
                            top: 30px;
                            left: 255px;
                            opacity: 0;
                            cursor: pointer;
                        }
                        .cardText {
                            position: absolute;
                            top: 25px;
                            left: 40px;
                            width: 210px;
                            height: 90px;
                            font-size: 15px;
                            word-break: break-word;
                            overflow: auto;
                        }
                        .cardDate {
                            position: absolute;
                            top: 115px;
                            left: 40px;
                            margin: 0;
                            border-radius: 5px;
                            font-size: 10px;
                            height: 19px;
                        }
                        .cardTime {
                            position: absolute;
                            top: 130px;
                            left: 40px;
                            margin: 0;
                            border-radius: 5px;
                            font-size: 10px;
                            height: 19px;
                        }
                    }
                }
            }
        }
    }
} //end body