@import "const.scss";
body {
    background-image: url("./img/cover2.png");
    .container {
        .row {
            margin-top: 20px;
            .col-12 {
                #title {
                    margin-top: 10px;
                    text-align: center;
                    label[name="title"] {
                        font-family: cursive, Arial, sans-serif;
                        font-size: 50px;
                        font-weight: 700; 
                        @media only screen and (max-width: 479px) {
                            font-size: 40px; 
                        }
                    } 
                }
            }
            .col {
                display: flex;
                justify-content: center;
                #imgPines {
                    width: 125px;
                    height: 40px;
                }
                .addTask {
                    display: flex;
                    justify-content: center;
                    form[name="addTaskNew"] {
                        background-image: url("./img/notebook1.png");
                        position: relative;
                        border-radius: $borderRadius;
                        height: $fromHeight;
                        input {
                            background-color: transparent;
                            height: $inputHeight;
                            border: 1px solid $inputBorder;
                            &:focus {
                                outline: none;
                            }
                        }
                        textarea[name="taskData"] {
                            background-color: transparent;
                            margin-left: $newTaskMarginleft;
                            line-height: 2;
                            border: none;
                            height: $taskDataHeight;
                            width: $taskDataWidth;
                            word-break: break-word;
                            overflow: auto;
                            &:focus {
                                outline: none;
                            }
                            @media only screen and (max-width: 767px) {
                                width: 275px;
                            }
                        }
                        .date {
                            margin-top: $newTaskMargintopDate;
                            input[name="taskDate"] {
                                margin-left: $newTaskMarginleft;
                                color: $dateColor;
                            }
                            input[name="taskHour"] {
                                color: $dateColor;
                            }
                        }
                        #imgAdd {
                            @extend.imgAddDeletFlag;
                            right: 45px;
                        }
                        #imgDelete {
                            @extend.imgAddDeletFlag;
                            right: 8px;
                        }
                        @media only screen and (max-width: 767px) {
                            width: 320px;
                        }
                    } //end form[name="addTaskNew"]
                }
                #cardContainer {
                    display: flex;
                    flex-flow: wrap;
                    .cardItem {
                        position: relative;
                        background-image: url("./img/note1.png");
                        background-repeat: no-repeat;
                        display: inline-block;
                        width: $cardItemWidth;
                        height: $cardItemHeight;
                        -webkit-animation: fadein 1s;
                        opacity: 1;
                        @keyframes fadein {
                            0% {
                                opacity: 0;
                            }
                            100% {
                                opacity: 1;
                            }
                        }
                        &:hover .fas {
                            opacity: 1;
                        }
                        .fas {
                            position: absolute;
                            top: 30px;
                            left: 255px;
                            opacity: 0;
                            cursor: pointer;
                        }
                        .cardText {
                            &::-webkit-scrollbar {
                                width: 10px;
                            }
                            &::-webkit-scrollbar-thumb {
                                background: $cardBackgroundColorScrollbar;
                                border-radius: $borderRadius+5px;
                            }
                            position: absolute;
                            top: 25px;
                            left: $cardItemLeft;
                            width: $cardTextWidth;
                            height: $taskDataHeight;
                            font-size: 15px;
                            word-break: break-word;
                            overflow: auto;
                        }
                        .cardDate {
                            @extend.cardDateTimeFlag;
                            top: 115px;
                        }
                        .cardTime {
                            @extend.cardDateTimeFlag;
                            top: 130px;
                        }
                    }
                    @media only screen and (max-width: 991px) {
                        max-width: 585px;
                        margin: auto;
                    }
                    @media only screen and (max-width: 767px) {
                        max-width: 340px;
                        margin: auto;
                    }
                }
            }
        }
    }
} //end body